.matrixblock.pimped {
  padding-top: 0;
  min-height: 48px; /* magically, this fixed the collapsed state */
}

/* when disabled lets show the user an opacified version */
.matrixblock.pimped.disabled {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.pimpmymatrix-heading {
  background: #CACACA; /* #B2B2B2 */
  color: #fff;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 14px;
  padding: 8px 14px 6px 14px;
  font-size: 14px;

  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.matrixblock.pimped > .actions {
  top: 7px;

}
.matrixblock.pimped > .actions a,
.matrixblock.pimped > .actions a:before {
  color: #fff;
}

.matrixblock.pimped > .actions a:hover,
.matrixblock.pimped > .actions a:hover:before {
  color: #949494 !important;
}



/* settings page */
.pimpmymatrix-settings__list {
  overflow: hidden;
}
.pimpmymatrix-settings__list li {
  float: left;
  margin-right: 12px;
  margin-top: 12px;
}
