{% import "_includes/forms" as forms %}

<div class="item" data-colspan="1">
  {{ forms.hidden({
    id: 'buttonConfig',
    name: 'buttonConfig',
    value: settings.buttonConfig,
    errors: settings.getErrors('buttonConfig')
  }) }}

  {% for field in blockTypesOnFields %}

    <h2>{{ field.name }}</h2>

    {{ field.table }}

    <ul class="pimpmymatrix-settings__list" data-pimpmymatrix-field-handle="{{ field.handle }}">
    {% for blockType in field.blockTypes %}
      <li data-pimpmymatrix-blocktype-name="{{ blockType.name }}" data-pimpmymatrix-blocktype-handle="{{ blockType.handle }}"></li>
    {% endfor %}
    </ul>

    <hr>
  {% endfor %}
</div>
